<div style="color:blue;text-align:center;">
<h1>RPS!</h1>
<h2 >Enter your name:</h2>
<form action="/names" method="post">
  <label for="player_name">
    <input type="text" name="player_name">
  </label>
    <input type="submit" value="Play">
</form>
</div>